{
    "plugins": [
        "stylelint-order"
    ],
    "extends": [
        "stylelint-prettier/recommended"
    ],
    "rules": {
        "order/order": [
            "custom-properties",
            "declarations"
        ]
    }
}
