.etablertTilsyn {
    margin-top: 1.5rem;
    max-width: 21.125rem;
    border-radius: 0.25rem;
    border: 1px solid #c6c2bf;

    &__heading {
        margin: 1.25rem 0.9375rem 0;
    }

    &__lenke {
        margin-left: 0.9375rem;
    }
}

.etablertTilsynTabell {
    margin-top: 1rem;
    border-spacing: 0;
    color: #262626;

    &__columnHeadings {
        display: flex;
        margin-bottom: 0.5rem;
    }

    &__columnHeading--first {
        margin-left: 0.9375rem;
    }

    &__columnHeading--second {
        margin-left: 7.375rem;
    }
    &__columnHeading--third {
        margin-left: 0.8125rem;
    }

    tbody {
        tr {
            display: flex;

            &:first-of-type td {
                border-top: 1px solid #c6c2bf;
            }

            &:last-of-type td {
                border-bottom: none;
            }
        }

        td {
            border-bottom: 1px solid #c6c2bf;

            &:first-of-type {
                padding-left: 0.9375rem;
            }

            &:last-of-type {
                padding-right: 2rem;
            }
        }
    }

    &__period {
        margin: 0;
        padding: 1.125rem 0;
    }
    &__hours {
        padding: 1.125rem 0 1.125rem 1.25rem;
        width: 2.25rem;
    }

    &__icon {
        padding: 1rem 0 1rem 4.625rem;
    }

    &__nulled {
        td {
            background: #dadada;
            color: #78706a;
        }
    }

    .visuallyHidden {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }
}
