.etablertTilsyn {
  margin-top: 1.5rem;
  max-width: 21.125rem;
  border-radius: 0.25rem;
  border: 1px solid #c6c2bf;
}
.etablertTilsyn__heading {
  margin: 1.25rem 0.9375rem 0;
}
.etablertTilsyn__lenke {
  margin-left: 0.9375rem;
}
.etablertTilsyn__ingenTilsyn {
  margin-left: 0.9375rem;
}
.etablertTilsynTabell {
  margin-top: 1rem;
  border-spacing: 0;
  color: #262626;
}
.etablertTilsynTabell__columnHeadings {
  display: flex;
  margin-bottom: 0.5rem;
}
.etablertTilsynTabell__columnHeading--first {
  margin-left: 0.875rem;
}
.etablertTilsynTabell__columnHeading--second {
  margin-left: 7.375rem;
}
.etablertTilsynTabell__columnHeading--third {
  margin-left: 0.8125rem;
}
.etablertTilsynTabell tbody tr {
  display: flex;
}
.etablertTilsynTabell tbody tr:first-of-type td {
  border-top: 1px solid #c6c2bf;
}
.etablertTilsynTabell tbody tr:last-of-type td {
  border-bottom: none;
}
.etablertTilsynTabell tbody td {
  border-bottom: 1px solid #c6c2bf;
}
.etablertTilsynTabell tbody td:first-of-type {
  padding-left: 0.9375rem;
}
.etablertTilsynTabell tbody td:last-of-type {
  padding-right: 2rem;
}
.etablertTilsynTabell__period {
  margin: 0;
  padding: 1.125rem 0;
}
.etablertTilsynTabell__hours {
  padding: 1.125rem 0 1.125rem 1.25rem;
  width: 2.25rem;
}
.etablertTilsynTabell__icon {
  padding: 1rem 0 1rem 4.625rem;
}
.etablertTilsynTabell__nulled td {
  background: #dadada;
  color: #78706a;
}
.etablertTilsynTabell .visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
