.deleteButton {
    &__container {
        margin-left: 1rem;
        align-self: center;
    }

    &__button {
        padding: 0;
        border: none;
        background: none;
        height: 23px;
        cursor: pointer;
    }
}
