.navigationWithDetailView {
    display: flex;
    align-items: flex-start;

    &__navigationSection {
        display: flex;
        flex-direction: column;
        border-radius: 0.25rem;
        border: 1px solid #c6c2bf;
    }

    &__detailSection {
        flex-wrap: wrap;
        flex-grow: 1;
        margin-left: 2rem;
        flex-basis: 66%;
    }
}
