.interactiveList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.interactiveListElement {
    border-bottom: 1px solid #c6c2bf;
    position: relative;

    &:first-of-type {
        border-top: 1px solid #c6c2bf;
    }

    &:hover {
        background: #f2f7fc;
    }

    &:last-of-type {
        border-bottom: 0;
    }

    &__chevron {
        transform: rotate(-90deg);
        align-self: center;
        margin-left: 1.125rem;
        margin-right: 1.875rem;
    }
}

.interactiveListElement--active {
    background: #f2f7fc;

    &:before {
        display: block;
        content: '';
        width: 0.3125rem;
        height: 3.3125rem;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        background-color: #0067c5;
        position: absolute;
        left: 0;
        top: 0;
    }

    p {
        color: #262626;
        font-weight: bold;
        text-decoration: none;
    }
}

.interactiveListElement__button {
    padding: 0.9375rem 0 0.875rem 1.5rem;
    border: none;
    background: transparent;
    text-align: left;
    width: 100%;
    outline: none;
    cursor: pointer;

    &:focus-visible {
        outline: #0067c5 auto 1px;
    }

    &__contentContainer {
        display: flex;
        justify-content: space-between;
    }
}
